
    <div class="container">
        <div class="row">
      
            <div class="col-md-4" >
                <img src="/assets/head.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/assets/head.jpg" width="50px"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/assets/head.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/assets/head.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/assets/head.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                </div>
            </div>
        </div>
        </div>

