<div class="container">
  <img src="assets/403.png" style="width:500px; height:300px;">

    <h1 style="color: #E94823;">You'are not permitted to see this .</h1> 

    <p>The page you're trying tp access has restricted  access </p>

   <div class="col-4">
                    <div class="d-grid">
                        <button   routerLink=""  class="btn btn-lg" type="submit" style="background-color: black; color: #FFFF; " >RETURN HOME</button>
                    </div>
    </div>

  
  </div>

  
  