<!-- <div class="sidebar">
    <div class="admin-profile">
      <img src="path/to/admin-photo.jpg" alt="Admin Photo">
      <h3>Admin Name</h3>
      <p>Admin Role</p>
      <hr width="350px" color="white">
    </div>
    <ul class="menu-items">
      <li><a href="#">Dashboard</a></li>
      <li><a routerLink="customers" routerLinkActive="active">curtomers</a></li>
      <li><a routerLink="users" routerLinkActive="active">users</a></li>

    </ul>
  </div> -->
 

  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Sidebar Menu</title>
 
    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <!-- <script language="javascript">
    let btn = document.querySelector("#btn");
let sidebar = document.querySelector(".sidebar");
let searchBtn = document.querySelector(".bx-search");

btn.onclick = function () {
  sidebar.classList.toggle("active");
};

searchBtn.onclick = function () {
  sidebar.classList.toggle("active");
};

    </script> -->

  <body>
    <div class="sidebar"  #sidebarRef>
      <div class="logo-content">
        <div class="logo">
          <i class="bx bx-code-alt bx-sm"></i>
          <div class="logo-name">DataDoor</div>
        </div>
        <button (click)="toggleSidebar(sidebarRef)">  <i class="bx bx-menu" id="btn" > </i> </button>
      </div>
      <ul class="nav-list">
     
      
        <li>
          <a routerLink="/admin/">
            <i class= "bx bx-home-alt bx-sm"></i>
            <span class="links-name">Dashboard</span>
          </a>
          <span class="tooltip">Dashbord</span>
        </li>
        <li>
          <a routerLink="users">
            <i class="bx bx-user bx-sm"></i>
            <span class="links-name">Users</span>
          </a>
          <span class="tooltip">Users</span>
        </li>
        
        <li>
          <a routerLink="customers">
            <i class="bx bx-group bx-sm"></i>
            <span class="links-name">Accounts</span>
          </a>
          <span class="tooltip">Accounts</span>
        </li>
        
        <li>
          <a routerLink="adduser">
            <i class="bx bx-user-plus bx-sm"></i>
            <span class="links-name">add user</span>
          </a>
          <span class="tooltip">add user</span>
        </li>
        
        <li>
          <a routerLink="edituser">
            <i class="bx bx-edit bx-sm"></i>
            <span class="links-name">Edit user</span>
          </a>
          <span class="tooltip">Edit user</span>
        </li>
       
       
      
        
       
        <li>
          <a href="#">
            <i class="bx bx-cog bx-sm"></i>
            <span class="links-name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
      </ul>


    </div>

    <div class="home-content">
     <router-outlet></router-outlet>
    </div>


  
    <script src="js/script.js"></script>
  </body>
</html>
